<div ng-controller="ElementBlockingController">

  <p>
    It's also possible to block individual elements by using the <em>block-ui</em> directive.
    Blocking individual elements can be done manually or automatically by informing the module which request correlates with a certain element.
    If no match can be found for a certain request, the main block will be initiated.
  </p>

  <h2 class="spacer-lg">Automatic Element Blocking</h2>
  <p>
    To make automatic blocking work the <em>block-ui</em> directive needs a regular expression pattern provided by the <em>block-ui-pattern</em> attribute.
  </p>

  <div class="example">
    <!--
      Mark this region as blockable for any request that
      matches the provided pattern: app/examples/data-array.json
    -->
    <div block-ui block-ui-pattern="/^app\/examples\/data-array\.json$/">
      <div my-demo-table limit="5"></div>
    </div>

    <h3>Html</h3>
    <pre><code>&lt;!--
  Mark this region as blockable for any request that
  matches the provided pattern: app/examples/data-array.json
--&gt;
&lt;div block-ui block-ui-pattern=&quot;/^app\/examples\/data-array\.json$/&quot;&gt;
  &lt;div my-demo-table limit=&quot;5&quot;&gt;&lt;/div&gt;
&lt;/div&gt;</code></pre>
  </div>

  <h2 class="spacer-lg">Manual Element Blocking</h2>
  <p>
    Just like the main blockUI instance, blocking individual elements can also be done manually.
    By providing the <em>block-ui</em> an name the associated blockUI instance can be requested in our controller or service.
  </p>

  <div class="example">

    <div style="max-width: 400px; margin: 0 auto 10px;">
      <div block-ui="myBlock">
        <div class="well">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
      <button ng-click="toggleBlock('myBlock')" type="button" class="btn btn-primary btn-lg btn-block">Toggle Block</button>
    </div>

    <h3>Html</h3>
      <pre><code>&lt;div block-ui=&quot;myBlock&quot;&gt;
  &lt;p&gt;Lorem ipsum dolor sit amet ... &lt;/p&gt;
&lt;/div&gt;
&lt;button ng-click=&quot;toggleBlock()&quot;&gt;Toggle Block&lt;/button&gt;</code></pre>

    <h3>JavaScript</h3>
      <pre><code>// Get a reference to the blockUI instance
var myBlock = blockUI.instances.get('myBlock');

$scope.toggleBlock = function() {
  if(myBlock.state().blocking) {
    myBlock.stop();
  } else {
    myBlock.start();
  }
};</code></pre>

  </div>
  <h2>Shared blockUI instances</h2>
  <p>
    Multiple elements can be associated with the same <em>blockUI</em> instance or with the same request pattern.
  </p>
  <div class="example">

    <div class="row">
      <div class="col-sm-4">
        <div block-ui="mySharedBlock">
          <div class="well">
            <h3>Sharing blockUI instance</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div block-ui="mySharedBlock">
          <div class="well">
            <h3>Sharing blockUI instance</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div block-ui="mySharedBlock">
          <div class="well">
            <h3>Sharing blockUI instance</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
      </div>
    </div>

    <div style="max-width: 400px; margin: 0 auto 10px;">
      <button ng-click="toggleBlock('mySharedBlock')" type="button" class="btn btn-primary btn-lg btn-block">Toggle Block</button>
    </div>
  </div>
</div>