
.block-ui {
  position: relative;
}

body.block-ui > .block-ui-container {
  position: fixed;
}

.block-ui-container {
  position: absolute;
  z-index: 10000;
  top: 0; right: 0; bottom: 0; left: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
  filter: alpha(opacity=00);
  cursor: wait;
}

.block-ui-container.block-ui-active {
  height: 100%;
}

.block-ui-container.block-ui-visible {
  opacity: 1;
  filter: alpha(opacity=100);
}

.block-ui-overlay {
  width: 100%;
  height: 100%;
  opacity: 0.5;
  filter: alpha(opacity=50);
  background-color: white;
}

.block-ui-message-container {
  position: absolute;
  top: 35%;
  left: 0;
  right: 0;
  height: 0;
  text-align: center;
  z-index: 10001;
}

.block-ui-message {
  display: inline-block;
  text-align: left;
  background-color: #333;
  color: #f5f5f5;
  padding: 20px;
  border-radius: 4px;
  font-size: 20px;
  font-weight: bold;
  /* needed for IE */
  filter: alpha(opacity=100);
}

.block-ui-fade > .block-ui-container {
  transition: height 0s ease 200ms, opacity 200ms ease;
}

.block-ui-fade > .block-ui-container.block-ui-visible {
  /*this resets the initial delay of the height */
  /*and sizes the block to full height at once at the start of the block. */
  transition-delay: 0s;
}