<div class="quote-list">
    <h1>Quotes</h1>
    <p>Famous quotes by unfamous people.</p>
    <div class="alert alert-info">
        <p>Please note that for this example I've added a hard coded delay on the server side.</p>
    </div>
    <ul class="unstyled">
        <li class="quote-list-row" ng-repeat="quote in quotes" ng-click="edit(quote)">
            <blockquote>
                <p>{{ quote.text }}</p>
                <small>{{ quote.author }}</small>
            </blockquote>

        </li>
    </ul>

    <a href="#/quote/create" class="btn">Add Quote</a>
</div>
