<div class="container quote-list">
    <h1>Quotes</h1>
    <p>Famous quotes by unfamous people.</p>
    <div class="alert alert-info">
        <p>Note: this demo project makes use of a custom <em>http interceptor</em> to create an artificial delay.</p>
    </div>
    <ul class="list-unstyled">
        <li class="quote-list-row" ng-repeat="quote in quotes" ng-click="edit(quote)">
            <blockquote>
                <p>{{ quote.text }}</p>
                <small>{{ quote.author }}</small>
            </blockquote>
        </li>
    </ul>

    <a href="#/quote/create" class="btn btn-primary">Add Quote</a>
</div>
