<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" /> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
<%
    var styles = helpers.getIncludes('css');
    _.forEach(styles, function(style) {
%>      <link rel="stylesheet" href="<%=style%>"/>
<%
    });
%>
</head>
<body ng-app="myApp">

<div class="container">

    <div data-navbar></div>
    <div data-notifications></div>

    <div ng-view></div>
</div>
<%
    var scripts = helpers.getIncludes('js');
    _.forEach(scripts, function(script) {
%><script src="<%=script%>"></script>
<%
    });
%>
</body>
</html>